.container{
    width: 50%;
    margin: 5% auto;
    background-color: #d8faf3;
    padding: 20px 50px 40px;
    box-shadow: 1px 4px 10px 1px #aaa;
    font-family: sans-serif;
}

.formRow{
    display: inline;
    padding: 2em;
}

.country{ 
    padding-left: 3em;
}

.gender{
    padding-left: 7em;
}

.formRowForDate{
    display: inline;
    padding: 2em;
    width: 20%;
}

.formdesign {
    font-size: 15px;
}

.formdesign input {
    padding: 5px 15px;
    border: 1px solid blue;
    margin: 10px;
    border-radius: 4px;
    font-size: 15px;
}

#selectoption {
    padding: 5px 15px;
    border: 1px solid blue;
    margin: 10px;
    border-radius: 4px;
    font-size: 15px;
}

.formerror {
    color: red;
    font-size: 12px;
}

.but {
    border-radius: 9px;
    width: 7em;
    height: 2em;
    font-size: 16px;
    margin: 22px 20px;
}